<div id='map'></div>
<div class='row'>
  <div class='place_form span6 special'>
    <%= form_for @place, :remote => true, :html => {:class => 'form-horizontal validate', :resource => 'place'} do |place_form|%>
      <fieldset>  
        <legend>Locate a place</legend> 
        <div class='control-group span6' id='text_guide'>
          Just move the mouse on the map to fill latitude and longitude ( click on the map to save )
        </div>
          <!-- 
            Control Group
          -->

          <div class='control-group'>
            <label class="control-label" for="input01">Name:</label>
            <div class="controls">
              <%=place_form.text_field :name, :class => 'input-xlarge form_field' %>
             </div>
          </div>
      
          <!-- 
            Control Group
          -->
          
          <div class='control-group'>
            <label class="control-label" for="input01">Description</label>
            <div class='controls'>
              <%=place_form.text_area :description, :cols => 3, :rows => 7, :class => 'input-xlarge form_field'%>
            </div>
          </div>
          
          <!-- 
            Control Group
          -->
          
          <div id='latlng'>
          
            <div class='control-group'>
              <label class="control-label" for="input01">Latitude</label>
              <div class='controls'>
                <%=place_form.text_field :latitude, :class => 'input-xlarge coordinates form_field'%>
              </div>
            </div>
            
            
            <!-- 
              Control Group
            -->
            
            <div class='control-group'>
              <label class="control-label" for="input01">Longitude</label>
              <div class='controls'>
                <%=place_form.text_field :longitude, :class => 'input-xlarge coordinates form_field'%>
              </div>
            </div>
          
          <!-- 
            Control Group
            -->
             
           <div class='control-group'>
             <div class='controls'>Or <a class='toggle' target='address' source='latlng' callback="(function(){ resetAddressField() })">click here</a> fill address </div>
           </div>
           
          </div>
          
          <div id='address' style='display:none;'>
           
            <div class='control-group'>
              <label class='control-label' for='input01'>Address:</label>
              <div class='controls'>
                <%=place_form.text_field :address, :class => 'input-xlarge form_field no-validate' %>
                <%=hidden_field_tag 'url_for_request_coordinates', "#{ fetch_coordinates_places_path }" %>
                <button id='locate_button' disabled='disabled'>Locate</button>
              </div>
            </div>  
            
            <div class='control-group'>
             <div class='controls'>
              Or 
              <a class='toggle' target='latlng' source='address' callback="(function(){ resetCoordinatesField() })">click here</a> fill coordinates 
             </div>
            </div>
          </div>  
          
          <!-- 
            Control Group
          -->
          
          <div class='control-group'>
            <label class="control-label" for="input01">Add Tags</label>
            <div class='controls'>
              <%=place_form.text_field :tag_list, :class => 'input-xlarge autocomplete_off'%>
            </div>
          </div>
          
          <div class="buttons">
              <button type="submit" class="btn btn-primary">Save changes</button>
          </div>

     </fieldset>
     
    <% end %>
  </div>

<%=javascript_tag "setTimeout('markCurrentLocation()', 1000);"%>
