<!DOCTYPE html>
<html>
<head>
  <title>AutosuggestAndTagging</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "jquery.tagsinput" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
   <%=render :partial => 'layouts/navigation_bar'%>
   <header class='subhead'>
    <form action='<%=search_index_url%>' class="well form-search">
      <input type="text" name='search' class="input-medium search-query" value='Search by tag' onfocus="if(this.value == 'Search by tag'){ this.value='' }" onblur="if(this.value == ''){ this.value='Search by tag' }">
      <button type="submit" class="btn">Search</button>
    </form>
    <%=yield :heading%>
  </header>
  <%= yield %>
 </div>
</body>
</html>
